html {
  scroll-behavior: initial;
}

html,
body {
  min-height: 100%;
  height: auto;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  margin: 0;
}

.line {
  border-right: 1px solid black;
}

image:before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 4;
  top: 0;
  left: 0;
  border-right: 1px solid black;
}

.image {
  width: 100%;
  height: 400px;
  background-size: cover;
  position: relative;
  background-size: cover;
  z-index: -1;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}
